<h1>Editing Educational Institution</h1>

<%= render 'form', educational_institution: @educational_institution %>

<%= link_to 'Show', @educational_institution %> |
<%= link_to 'Back', educational_institutions_path %>
